<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navesud en Mantenimiento</title>
</head>

<body>
    <div class="centered">
        <h1>Navesud en Mantenimiento</h1>
        <p>Estamos trabajando para mejorar tu experiencia</p>
        <p class="text-small">Vuelta al servicio 11/04/2023, 23:59 </p>
    </div>
</body>

<style>
    body {
        background-color: #000b2e;
        color: #fff;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-small {
        font-size: 1rem;
    }
</style>

</html>